@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover {
  text-decoration: none;
}

button {
  outline: none;
}

/* Warning */
.footerWarning {
  color: #555;
  background: #f7f7f7;
}

.footerWarning_cont {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  overflow: hidden;
  box-sizing: border-box;
}

.footerWarning_title {
  margin-bottom: 0.5em;
  font-size: 24px;
  letter-spacing: 0.2em;
  text-align: center;
}

.footerWarning_txt {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
}

.fixedBtn {
  position: fixed;
  z-index: 99;
  right: 0;
  bottom: 0;
  margin: 5px;
  width: 60px;
}

@media (min-width: 900px) {
  .footerWarning_title {
    float: left;
    font-size: 30px;
  }

  .footerWarning_txt {
    margin-left: 350px;
  }

  .fixedBtn {
    margin: 26px;
    width: auto;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-size: 14px;
  color: #2b2b2b;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

a {
  color: #272727;
  word-break: break-all;
  text-decoration: none;
}
a:focus {
  color: #fff;
  outline: none;
  text-decoration: none;
}

.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  clear: both;
  visibility: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.head_logo {
  float: left;
  margin: 0;
  max-width: 316px;
  width: 100%;
  padding: 8px 0;
  text-align: center;
}

.logo_line {
  width: 2px;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 13px;
}

.esunlogo {
  max-width: 260px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.esunlogo img {
  height: 31px;
}

.efingologo {
  display: inline-block;
  max-width: 108px;
  width: 100%;
  vertical-align: middle;
  margin-bottom: -10px;
}
.efingologo img {
  height: 34px;
}

header {
  z-index: 100;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  background-color: #020308;
  min-height: 60px;
  position: fixed;
  transition: 0.3s;
}
header .nav_wrap_m {
  display: none;
}
header .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
}

.mystyle {
  top: 0px !important;
  position: fixed !important;
  height: auto;
  transition: 0.3s;
  box-shadow: 3px 3px 10px #383838;
}

.target-burger {
  right: 0;
  top: 0;
  width: 3.25em;
  height: 3.25em;
  position: absolute;
  display: block;
  transition: all 0.5s ease;
}

.buns {
  width: 1.625em;
  height: 1.625em;
  list-style: none;
  margin: -0.8125em 0 0 -0.8125em;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateZ(0);
  color: #fff;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.buns li {
  width: 100%;
  height: 2px;
  background-color: #a2a2a2;
  position: absolute;
  top: 50%;
  margin-top: -0.75px;
  transform: translateY(-3.75px) translateZ(0);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.buns li:last-child {
  transform: translateY(3.75px) translateZ(0);
}

nav ul {
  list-style: none;
  position: relative;
  margin: 1em auto;
}
nav ul li {
  font-size: 14px;
  margin: 0 10px;
  position: relative;
}
nav ul li a {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  color: #fff;
}
nav ul li:hover a {
  font-weight: bold;
  color: #009e96;
}

.btn_join {
  background: #009d95;
  color: #fff !important;
  padding: 8px 24px;
  border-radius: 25px;
}
.btn_join:hover {
  color: #fff;
}
.btn_join img {
  width: 10px;
  margin: 0 5px;
}

.nav_wrap_close {
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 3;
  width: 100%;
}

.function_ham {
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
  cursor: pointer;
}
.function_ham img {
  display: block;
  width: 22px;
}
.function_ham:hover span {
  background-color: #797979;
}

.function_ham span:after,
.function_ham span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.function_ham span:after {
  top: 9px;
}

.function_ham span {
  position: relative;
  display: block;
}

.function_ham span {
  width: 100%;
  width: 22px;
  height: 4px;
  background-color: #b3b3b3;
  transition: all 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2px;
  margin-bottom: 4px;
}

.nav_wrap {
  overflow: hidden;
}

.function_nav {
  max-width: 660px;
  width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
  border-radius: 70px 0 0 70px;
  margin-right: 0;
  padding: 0px 28px;
  margin-top: 30px;
  transition: 0.3s;
  position: relative;
}
.function_nav ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.function_nav ul li {
  display: inline-block;
  vertical-align: middle;
}
.function_nav ul li a {
  display: block;
  padding: 1em 8px;
  font-size: 18px;
}

.function_nav_close {
  transform: translateX(590px);
}

.arrow {
  position: relative;
  transform: translateY(-80px);
}
.arrow p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
}

.scroll-down {
  display: block;
  position: absolute;
  bottom: -68%;
  left: 50%;
  color: #fff;
  transform: translate(0, -50%);
  transition: opacity 0.5s;
}
.scroll-down::before {
  position: absolute;
  top: -22px;
  left: -22px;
  z-index: -1;
  content: "";
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  opacity: 0;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}
.scroll-down:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 4px solid #009e96;
  border-bottom: 4px solid #009e96;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.m_cta {
  display: none;
}

#gotop {
  max-width: 76px;
  width: 100%;
  position: fixed;
  right: 0;
  bottom: 16%;
  display: none;
  text-align: center;
  cursor: pointer;
  z-index: 10;
  opacity: 0.7;
  transition: all 0.3s;
}
#gotop:hover {
  opacity: 1;
}
#gotop img {
  max-width: 56px;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  display: block;
  margin-top: 4px;
}

.store {
  display: none;
}

.footer_memu {
  background: #f7f7f7;
  z-index: 6;
  position: relative;
}
.footer_memu .right_qr {
  max-width: 100px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.footer_memu .right_qr p {
  font-size: 14px;
  text-align: center;
  margin: 5px;
}
.footer_memu .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_memu .left {
  max-width: 770px;
  width: 100%;
  display: inline-block;
}
.footer_memu .left img {
  max-width: 170px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.footer_memu .left .list {
  display: inline-block;
  max-width: 566px;
  vertical-align: middle;
  width: 100%;
  margin-left: 30px;
}
.footer_memu .left .list p {
  display: inline-block;
  text-align: center;
  margin: 0 14px;
  font-size: 14px;
}
.footer_memu .left .list p span {
  display: block;
  font-size: 15px;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.footerWarning {
  color: #fff;
  background-color: #010000;
}
.footerWarning .footerWarning_cont {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
  padding: 30px;
}

.footerWarning_title {
  margin-bottom: 0.5em;
  font-size: 24px;
  letter-spacing: 0.2em;
  text-align: center;
}

.footerWarning_txt {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  margin: 0;
}

footer {
  color: #fff;
}
footer > .block {
  width: auto;
  max-width: none;
}
footer .link {
  font-size: 13px;
  margin: auto;
  text-align: center;
  padding: 20px 0;
  line-height: 1.5;
  background: #4d4d4d;
}
footer .link li {
  display: inline-block;
  letter-spacing: 0.05em;
}
footer .link li a {
  color: #fff;
}
footer .col-rate {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
}
footer .top {
  background-color: #E9E9E9;
}
footer .top a {
  color: #009d98;
}
footer .top .block {
  padding: 0 20px;
}
footer .top .block ul {
  max-width: 1200px;
  margin: 0 auto;
  vertical-align: middle;
  padding: 0px;
}
footer .top .block ul li {
  display: inline-block;
  margin: 20px 0;
  color: #111111;
}

@media (min-width: 900px) {
  .footerWarning_title {
    float: left;
    font-size: 30px;
  }

  .footerWarning_txt {
    margin-left: 350px;
  }
}
@media screen and (min-width: 801px) {
  nav {
    float: right;
    width: auto;
  }
  nav ul li {
    display: inline-block;
  }
}
@media screen and (max-width: 1280px) {
  .function_nav {
    margin-top: 12px;
  }

  header .container {
    padding: 5px 30px;
  }
}
@media screen and (max-width: 930px) {
  .footer_memu .container {
    display: block;
    padding: 20px 10px;
  }
  .footer_memu .left {
    display: block;
    margin: 0 auto;
  }
  .footer_memu .left img {
    display: block;
    margin: 20px auto;
  }
  .footer_memu .left .list {
    display: block;
    margin: 0;
    text-align: center;
    max-width: 100%;
  }
  .footer_memu .left .list p {
    width: 86px;
    margin: 10px 8px;
    font-size: 14px;
  }
  .footer_memu .store {
    text-align: center;
    margin: 30px 0 20px;
  }
  .footer_memu .store a {
    display: inline-block;
    vertical-align: middle;
  }
  .footer_memu .store a img {
    max-width: 100px;
    width: 100%;
    display: block;
  }
  .footer_memu .store a:last-child img {
    max-width: 113px;
  }
  .footer_memu .right_qr {
    display: none;
  }
}
@media screen and (max-width: 886px) {
  .head_logo {
    max-width: 294px;
  }

  nav ul {
    padding: 0;
  }
  nav ul li {
    margin: 0 5px;
  }
}
@media screen and (max-width: 800px) {
  .m_cta {
    background: rgba(0, 158, 150, 0.85);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: block;
    z-index: 2;
    padding: 10px;
  }
  .m_cta a {
    font-size: 18px;
    display: block;
    color: #fff;
  }
  .m_cta a img {
    display: inline-block;
    width: 12px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .nav_wrap {
    position: absolute;
    bottom: calc(0px + 52px);
    width: 100%;
  }

  .nav_wrap_pc {
    display: none;
  }

  header .nav_wrap_m {
    display: block;
  }

  .function_nav {
    text-align: center;
    background: transparent;
    max-width: 100%;
    padding: 0;
  }
  .function_nav > p {
    font-size: 16px;
    margin: 1em auto;
  }
  .function_nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .function_nav ul li {
    width: calc(100% / 2);
    text-align: center;
    margin: 0px !important;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 1px solid #fff;
  }
  .function_nav ul li:nth-child(1) {
    background: rgba(255, 197, 23, 0.4);
  }
  .function_nav ul li:nth-child(1) a {
    color: #ffc517;
  }
  .function_nav ul li:nth-child(2) {
    background: rgba(255, 197, 23, 0.2);
  }
  .function_nav ul li:nth-child(2) a {
    color: #ffc517;
  }
  .function_nav ul li:nth-child(3) {
    background: rgba(0, 164, 239, 0.4);
  }
  .function_nav ul li:nth-child(3) a {
    color: #00a4ef;
  }
  .function_nav ul li:nth-child(4) {
    background: rgba(237, 72, 72, 0.4);
  }
  .function_nav ul li:nth-child(4) a {
    color: #ed4848;
  }
  .function_nav ul li:nth-child(5) {
    background: rgba(255, 153, 0, 0.4);
  }
  .function_nav ul li:nth-child(5) a {
    color: #ff9900;
  }
  .function_nav ul li:nth-child(6) {
    background: rgba(0, 192, 139, 0.4);
  }
  .function_nav ul li:nth-child(6) a {
    color: #00c08b;
  }

  #header.on {
    top: 0 !important;
  }

  #header {
    position: fixed;
    height: auto;
    padding-bottom: 5px;
  }

  #toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 26px auto 10px;
    right: 15px;
    top: 0;
    position: absolute;
    display: block;
    transition: all 0.5s ease;
  }
  #toggle span {
    position: relative;
    display: block;
  }

  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span::before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span::after {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  #toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 2px;
    background-color: #ddddde;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 2px;
  }

  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }

  #toggle span:after {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }

  #toggle span:after {
    top: 9px;
  }

  .main-nav {
    position: absolute;
    left: 0;
    top: 56px;
    z-index: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease;
    background: rgba(0, 0, 0, 0.9);
  }
  .main-nav::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-size: 100% 100%;
  }
  .main-nav ul.anchor {
    padding: 0;
    margin-top: 3vh;
  }
  .main-nav ul.anchor .btn_join {
    max-width: 155px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
  }
  .main-nav ul.anchor .btn_join img {
    margin-bottom: 2px;
    margin-left: 10px;
  }
  .main-nav ul.anchor li {
    margin: 7px;
    text-align: center;
    padding: 7px;
  }
  .main-nav ul.anchor li a {
    font-size: 16px;
    display: block;
  }
  .main-nav ul.anchor li a:hover {
    color: #00a19b;
    padding-left: 10px;
  }

  .store {
    display: block;
    text-align: center;
  }

  .main-nav.on {
    display: block;
    z-index: 10;
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s ease;
  }
}
@media screen and (max-width: 767px) {
  #gotop {
    max-width: 56px;
  }
  #gotop img {
    max-width: 40px;
  }
}
@media screen and (max-width: 550px) {
  header {
    min-height: 50px;
  }
  header .container {
    padding: 0 14px;
  }
  header .head_logo {
    float: none;
    max-width: 262px;
    padding: 14px 0 8px;
    text-align: left;
  }
  header .head_logo .esunlogo {
    max-width: 250px;
  }
  header .logo_line {
    margin: 0px 10px;
  }
  header .efingologo {
    max-width: 89px;
  }
}
@media screen and (max-width: 330px) {
  .main-nav ul.anchor li {
    margin: 0;
  }

  .function_nav ul li {
    height: 70px;
  }
}
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
  	This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
  	calculation of the height of the owl-item that breaks page layouts
   */
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

* {
  font-family: "Noto Sans TC", "微軟正黑體", "Microsoft JhengHei", "Arial", sans-serif;
  line-height: normal;
  font-weight: 300;
}

#gotop {
  display: none;
  position: fixed;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background: url(../images/HeaderFooter/top.svg) no-repeat;
  background-size: 50px 50px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #0F2D3C;
}

.tip {
  margin-top: 40px;
}
@media (max-width: 425px) {
  .tip {
    margin-top: 10px;
  }
}
.tip .icon {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 0;
  width: 100%;
  max-width: 60px;
  height: 55px;
}
@media (max-width: 320px) {
  .tip .icon {
    margin: 10px 10px 10px 0;
    max-width: 20px;
  }
}
.tip .icon.light {
  max-width: 35px;
  margin: 0 10px 10px 0;
}
.tip img {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 20px 10px 0;
  max-width: 30px;
  height: auto;
}
@media (max-width: 768px) {
  .tip img {
    margin: 20px 10px;
  }
}
@media (max-width: 320px) {
  .tip img {
    margin: 10px 10px 10px 0;
    max-width: 20px;
  }
}
.tip p {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  letter-spacing: 1px;
  max-width: 570px;
  text-align: left;
  color: #5D5D5D;
}
@media (max-width: 500px) {
  .tip p {
    max-width: 350px;
  }
}
@media (max-width: 425px) {
  .tip p {
    font-size: 14px;
    max-width: 260px;
  }
}
@media (max-width: 320px) {
  .tip p {
    max-width: 230px;
  }
}
.tip p a {
  color: #FF9900;
  text-decoration: underline;
}

h3 {
  text-align: left;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
@media (max-width: 425px) {
  h3 {
    font-size: 24px;
    margin-bottom: 40px;
  }
}
h3 img {
  width: 24px;
  margin-right: 5px;
}
@media (max-width: 425px) {
  h3 img {
    width: 20px;
  }
}

h4 {
  color: #f9c78b;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.p1 {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 10px auto 20px;
}
.p1 strong {
  color: #f9c78b;
  font-weight: 400;
}

.btn {
  color: #f9c78b;
  border: 1px solid #f9c78b;
  padding: 12px 44px;
  border-radius: 4px;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  transition: all 0.3s;
}
.btn:focus {
  color: #f9c78b;
}
.btn:hover {
  color: #4E463F;
  background-color: #f9c78b;
  font-weight: 500;
}
.btn.lightBtn {
  background-color: #f9c78b;
  color: #4E463F;
  margin-right: 10px;
}
.btn.lightBtn:hover {
  background-color: #ffcb8c;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.md-hide {
  display: inline-block;
}
@media (max-width: 768px) {
  .md-hide {
    display: none;
  }
}

.md-show {
  display: none;
}
@media (max-width: 768px) {
  .md-show {
    display: inline-block;
  }
}

.textContent {
  letter-spacing: 1px;
}

table {
  color: #fff;
}
@media (max-width: 425px) {
  table {
    font-size: 14px;
  }
}
table td {
  padding: 10px;
}
table td strong {
  color: #f9c78b;
  font-weight: 400;
}
table thead td {
  text-align: center;
  color: #f9c78b;
  font-weight: 400;
  border-bottom: 1px solid #767676;
  border-right: 1px solid #767676;
}
table thead td:last-child {
  border-right: none;
}
table thead td:first-child {
  text-align: left;
  color: #fff;
  padding-left: 0;
  font-weight: 300;
}
table tbody tr td {
  border-bottom: 1px solid #767676;
  border-right: 1px solid #767676;
}
table tbody tr td small {
  font-size: 14px;
}
@media (max-width: 425px) {
  table tbody tr td small {
    font-size: 12px;
  }
}
table tbody tr td:first-child {
  padding-left: 0;
}
table tbody tr td:last-child {
  border-right: none;
}
table tbody tr:last-child td {
  border-bottom: none;
}

.wrap {
  margin-top: 50px;
  /* index */
}
.wrap section {
  padding: 80px 10px 40px;
  text-align: center;
  background-color: #0F2D3C;
}
@media (max-width: 768px) {
  .wrap section {
    padding: 80px 0 40px;
  }
}
.wrap .index_kv {
  background-color: transparent;
  padding: 100px 10px 0;
}
.wrap .index_kv .starBg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 1300px;
}
.wrap .index_kv ul.kv_ul {
  text-align: center;
}
.wrap .index_kv ul.kv_ul > li {
  display: block;
  margin: 10px 40px;
}
@media (max-width: 768px) {
  .wrap .index_kv ul.kv_ul > li {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .wrap .index_kv ul.kv_ul > li {
    margin: 10px;
  }
}
.wrap .index_kv ul.kv_ul > li h1 {
  display: inline-block;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f9c78b;
}
@media (max-width: 768px) {
  .wrap .index_kv ul.kv_ul > li h1 {
    font-size: 38px;
  }
}
@media (max-width: 425px) {
  .wrap .index_kv ul.kv_ul > li h1 {
    font-size: 34px;
  }
}
@media (max-width: 374px) {
  .wrap .index_kv ul.kv_ul > li h1 {
    font-size: 30px;
  }
}
.wrap .index_kv ul.kv_ul > li h2 {
  line-height: normal;
  font-size: 28px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: normal;
  margin: 10px auto;
}
@media (max-width: 768px) {
  .wrap .index_kv ul.kv_ul > li h2 {
    font-size: 24px;
  }
}
@media (max-width: 425px) {
  .wrap .index_kv ul.kv_ul > li h2 {
    font-size: 22px;
  }
}
.wrap .index_kv ul.kv_ul > li ul {
  text-align: left;
  list-style: disc;
  max-width: 450px;
  padding-left: 20px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin: 20px auto 50px;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .wrap .index_kv ul.kv_ul > li ul {
    max-width: 460px;
  }
}
.wrap .index_kv ul.kv_ul > li ul li {
  margin: 6px auto;
}
.wrap .index_kv ul.kv_ul > li ul span {
  color: #f9c78b;
  font-weight: 500;
}
.wrap .index_kv ul.kv_ul > li ul small {
  font-size: 16px;
}
@media (max-width: 768px) {
  .wrap .index_kv ul.kv_ul > li ul small {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .wrap .index_kv ul.kv_ul > li ul {
    font-size: 16px;
  }
}
.wrap .index_kv ul.kv_ul > li .btn_block {
  margin: 20px 0;
}
.wrap .index_kv ul.kv_ul > li .btn_block .actionBtn {
  display: inline-block;
  color: #f9c78b;
  border: 1px solid #f9c78b;
  padding: 15px 20px;
  width: 100%;
  max-width: 200px;
  border-radius: 6px;
  font-size: 20px;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.38);
  position: relative;
  transition: all 0.3s;
}
.wrap .index_kv ul.kv_ul > li .btn_block .actionBtn:hover {
  color: #4E463F;
  background-color: #f9c78b;
  font-weight: 500;
}
.wrap .index_kv ul.kv_ul .plane {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
  max-width: 400px;
  height: 98px;
}
@media (max-width: 500px) {
  .wrap .index_kv ul.kv_ul .plane {
    width: 80%;
    height: 20vw;
  }
}
.wrap .index_kv ul.kv_ul .plane img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 400px;
}
.wrap .index_kv ul.kv_ul .plane img.light {
  opacity: 0;
  animation: flash 1s infinite;
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.wrap .cardBg {
  background: url("../images/star.svg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 40px 0 0;
  height: 25vw;
}
.wrap .cardBg img {
  width: 100%;
}
.wrap .ideaSection {
  background: linear-gradient(to bottom, #040306, #0F2D3C);
}
.wrap .ideaSection .container .d-flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .wrap .ideaSection .container .d-flex {
    flex-wrap: wrap;
  }
}
.wrap .ideaSection .container .textContent, .wrap .ideaSection .container .cardBox {
  margin: 10px;
}
@media (max-width: 992px) {
  .wrap .ideaSection .container .textContent, .wrap .ideaSection .container .cardBox {
    margin: 20px 0;
    width: 100%;
  }
}
.wrap .ideaSection .container .textContent {
  text-align: left;
  max-width: 440px;
}
@media (max-width: 992px) {
  .wrap .ideaSection .container .textContent {
    max-width: none;
  }
}
.wrap .ideaSection .container .textContent p {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  margin: 15px auto;
}
@media (max-width: 992px) {
  .wrap .ideaSection .container .textContent p br {
    display: none;
  }
}
.wrap .ideaSection .container .cardBox {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox {
    flex-wrap: wrap;
    justify-content: left;
  }
}
.wrap .ideaSection .container .cardBox .smallCardBox {
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 600px) {
  .wrap .ideaSection .container .cardBox .smallCardBox {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox .smallCardBox {
    justify-content: space-between;
    margin-top: 30px;
  }
}
.wrap .ideaSection .container .cardBox .card {
  margin: 0 6px;
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox .card {
    margin: 0 8px;
  }
}
.wrap .ideaSection .container .cardBox .card img {
  width: 100%;
  max-width: 100px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox .card img {
    max-width: none;
  }
}
.wrap .ideaSection .container .cardBox .card.active {
  margin-right: 15px;
  margin-bottom: 20px;
  position: relative;
  min-height: 316px;
}
@media (max-width: 1200px) {
  .wrap .ideaSection .container .cardBox .card.active {
    min-height: 259px;
    min-width: 164px;
  }
}
@media (max-width: 992px) {
  .wrap .ideaSection .container .cardBox .card.active {
    min-height: 316px;
    min-width: 200px;
  }
}
@media (max-width: 768px) {
  .wrap .ideaSection .container .cardBox .card.active {
    margin-bottom: auto;
  }
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox .card.active {
    width: 38vw;
    height: 60vw;
    min-height: auto;
    min-width: auto;
  }
}
.wrap .ideaSection .container .cardBox .card.active img {
  cursor: default;
}
.wrap .ideaSection .container .cardBox .card.active .markbox {
  position: absolute;
  right: -45%;
  top: 12%;
  z-index: 10;
}
@media (max-width: 1200px) {
  .wrap .ideaSection .container .cardBox .card.active .markbox {
    right: -55%;
  }
}
@media (max-width: 992px) {
  .wrap .ideaSection .container .cardBox .card.active .markbox {
    right: -45%;
  }
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox .card.active .markbox {
    right: -90px;
    top: 26%;
  }
}
.wrap .ideaSection .container .cardBox .card.active .markbox h4.cardName {
  position: absolute;
  text-align: left;
  width: 220px;
  color: #F9C78B;
  left: 35%;
  top: -110%;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox .card.active .markbox h4.cardName {
    top: -200%;
    width: 40vw;
  }
}
.wrap .ideaSection .container .cardBox .card.active .markbox h4.cardName span {
  margin-left: 5px;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0;
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox .card.active .markbox h4.cardName span {
    margin-left: 0;
  }
}
.wrap .ideaSection .container .cardBox .card.active .markbox h4.cardName br {
  display: none;
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox .card.active .markbox h4.cardName br {
    display: block;
  }
}
.wrap .ideaSection .container .cardBox .card.active .markbox p {
  position: absolute;
  text-align: left;
  width: 310px;
  line-height: 18px;
  color: #fff;
  left: 35%;
  top: 30%;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .wrap .ideaSection .container .cardBox .card.active .markbox p {
    width: 270px;
  }
}
@media (max-width: 992px) {
  .wrap .ideaSection .container .cardBox .card.active .markbox p {
    width: 310px;
  }
}
@media (max-width: 600px) {
  .wrap .ideaSection .container .cardBox .card.active .markbox p {
    width: 52vw;
  }
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox .card.active .markbox p {
    width: 45vw;
    line-height: 22px;
  }
}
.wrap .ideaSection .container .cardBox .card.active img {
  max-width: 200px;
}
.wrap .ideaSection .container .cardBox .card.smallCard img {
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .wrap .ideaSection .container .cardBox .card.smallCard img:hover {
    transform: translateY(-10px);
  }
  .wrap .ideaSection .container .cardBox .card.smallCard img:hover + p {
    opacity: 1;
  }
}
.wrap .ideaSection .container .cardBox .card.smallCard p {
  color: #fff;
  opacity: 0;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .wrap .ideaSection .container .cardBox .card.smallCard p {
    display: none;
  }
}
@media (max-width: 500px) {
  .wrap .ideaSection .container .cardBox .card.smallCard p {
    display: block;
    opacity: 1;
    margin-top: 6px;
  }
}
.wrap .newSection .container {
  text-align: left;
}
.wrap .newSection .container .textImg {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.wrap .newSection .container .textImg:last-child {
  margin-bottom: 0;
}
.wrap .newSection .container .textContent {
  max-width: 480px;
  margin-right: 20px;
}
@media (max-width: 600px) {
  .wrap .newSection .container .textContent {
    max-width: none;
    margin-right: auto;
  }
}
.wrap .newSection .container .imgContent img {
  max-width: 280px;
}
@media (max-width: 992px) {
  .wrap .newSection .container .imgContent img {
    width: 200px;
  }
}
@media (max-width: 600px) {
  .wrap .newSection .container .imgContent {
    display: none;
  }
}
.wrap .starSection {
  text-align: left;
}
.wrap .starSection .tableBox {
  overflow: scroll;
}
.wrap .starSection .largeTable {
  width: 100%;
  min-width: 790px;
}
.wrap .starSection .largeTable thead tr td:first-child {
  background-color: #0F2D3C;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
@media (max-width: 992px) {
  .wrap .starSection .largeTable thead tr td:first-child::after {
    content: "";
    width: 10px;
    height: 100%;
    background: linear-gradient(to right, #767676a4, #76767600);
    position: absolute;
    right: -10px;
    top: 0;
  }
}
.wrap .starSection .largeTable tbody tr td:first-child {
  padding-left: 0;
  width: 220px;
  background-color: #0F2D3C;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
@media (max-width: 992px) {
  .wrap .starSection .largeTable tbody tr td:first-child {
    width: 130px;
  }
  .wrap .starSection .largeTable tbody tr td:first-child::after {
    content: "";
    width: 10px;
    height: 100%;
    background: linear-gradient(to right, #767676a4, #76767600);
    position: absolute;
    right: -10px;
    top: 0;
  }
}
.wrap .starSection .darkbox {
  background-color: #4E463F;
  border-radius: 4px;
  padding: 30px;
  margin: 80px auto 50px;
}
@media (max-width: 600px) {
  .wrap .starSection .darkbox {
    padding: 20px 10px;
  }
}
.wrap .starSection .darkbox ~ .darkbox {
  margin: 50px auto;
}
.wrap .starSection .darkbox:last-of-type {
  margin-bottom: 0;
}
.wrap .starSection .darkbox .rowBox {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .wrap .starSection .darkbox .rowBox {
    flex-wrap: wrap;
  }
}
.wrap .starSection .darkbox .textContent {
  max-width: 510px;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .wrap .starSection .darkbox .textContent {
    max-width: none;
    margin-right: 0;
  }
}
.wrap .starSection .darkbox .textContent .p1 .tri {
  margin: 0 4px;
}
.wrap .starSection .darkbox .textContent.textContent-lg {
  max-width: none;
}
@media (max-width: 768px) {
  .wrap .starSection .darkbox .tableContent br {
    display: none;
  }
}
@media (max-width: 768px) {
  .wrap .starSection .darkbox .tableContent {
    margin-bottom: 20px;
  }
}
.wrap .starSection .darkbox .tableContent td {
  font-size: 14px;
  padding: 10px;
}
@media (max-width: 500px) {
  .wrap .starSection .darkbox .tableContent td {
    padding: 10px 5px;
  }
}
.wrap .starSection .darkbox .tableContent td.largetd {
  width: 130px;
}
@media (max-width: 768px) {
  .wrap .starSection .darkbox .tableContent td.largetd {
    width: 250px;
  }
}
.wrap .starSection .darkbox .tableContent.middleTable {
  min-width: 492px;
}
@media (max-width: 768px) {
  .wrap .starSection .darkbox .tableContent.middleTable {
    min-width: auto;
    width: 100%;
  }
}
.wrap .starSection .darkbox .tableContent.middleTable .effect {
  position: relative;
}
@media (max-width: 768px) {
  .wrap .starSection .darkbox .tableContent.middleTable .effect::before {
    content: "";
    width: 10px;
    height: 100%;
    background: linear-gradient(to left, #767676a4, #76767600);
    position: absolute;
    right: 0;
    top: 0;
  }
  .wrap .starSection .darkbox .tableContent.middleTable .effect .tableBox {
    overflow: scroll;
  }
  .wrap .starSection .darkbox .tableContent.middleTable .effect .tableBox table {
    min-width: 657px;
    letter-spacing: normal;
  }
}
.wrap .starSection .darkbox .tableContent.smallTable {
  min-width: 350px;
}
@media (max-width: 768px) {
  .wrap .starSection .darkbox .tableContent.smallTable {
    min-width: auto;
  }
}
.wrap .daySection {
  text-align: left;
  letter-spacing: 1px;
}
.wrap .daySection .container .btn {
  margin-top: 20px;
}
.wrap .daySection .container .effect {
  width: 100%;
  position: relative;
}
@media (max-width: 1200px) {
  .wrap .daySection .container .effect::before {
    content: "";
    width: 10px;
    height: 100%;
    background: linear-gradient(to left, #767676a4, #76767600);
    position: absolute;
    right: 0;
    top: 0;
  }
}
.wrap .daySection .container .tableBox {
  overflow: scroll;
}
.wrap .daySection .container .tableBox table {
  min-width: 1140px;
  letter-spacing: normal;
}
.wrap .monthSection {
  text-align: left;
  letter-spacing: 1px;
}
.wrap .monthSection .rowBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 768px) {
  .wrap .monthSection .rowBox {
    flex-wrap: wrap;
  }
}
.wrap .monthSection .rowBox .textContent {
  max-width: 600px;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .wrap .monthSection .rowBox .textContent {
    margin-right: 0;
  }
}
.wrap .monthSection .rowBox .tableContent {
  margin: 10px;
  min-width: 380px;
}
@media (max-width: 768px) {
  .wrap .monthSection .rowBox .tableContent {
    margin: 0 0 30px;
  }
}
@media (max-width: 425px) {
  .wrap .monthSection .rowBox .tableContent {
    min-width: auto;
    width: 100%;
  }
  .wrap .monthSection .rowBox .tableContent thead td {
    text-align: left;
  }
}
.wrap .flySection {
  text-align: left;
}
.wrap .flySection .rowBox {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 70px;
}
.wrap .flySection .rowBox:first-of-type {
  margin-top: 0;
}
@media (max-width: 768px) {
  .wrap .flySection .rowBox {
    flex-wrap: wrap;
  }
}
.wrap .flySection .rowBox .textContent {
  max-width: 600px;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .wrap .flySection .rowBox .textContent {
    max-width: none;
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .wrap .flySection .rowBox .textContent .btn_block .btn {
    padding: 12px 30px;
  }
}
.wrap .flySection .rowBox .tableContent table {
  width: 500px;
}
@media (max-width: 992px) {
  .wrap .flySection .rowBox .tableContent table {
    width: 410px;
  }
}
@media (max-width: 768px) {
  .wrap .flySection .rowBox .tableContent table {
    width: 100%;
  }
}
.wrap .flySection .rowBox .tableContent .tableNote {
  color: #fff;
  list-style: disc;
  padding-left: 15px;
  margin-top: 20px;
}
.wrap .flySection .rowBox .tableContent .tableNote li {
  margin: 5px auto;
}
.wrap .flySection .textImg {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.wrap .flySection .textImg .textContent {
  max-width: 480px;
  margin-right: 20px;
}
@media (max-width: 600px) {
  .wrap .flySection .textImg .textContent {
    max-width: none;
    margin-right: auto;
  }
}
.wrap .flySection .textImg .textContent .btn {
  margin-top: 0;
}
.wrap .flySection .textImg .imgContent img {
  max-width: 280px;
}
@media (max-width: 992px) {
  .wrap .flySection .textImg .imgContent img {
    width: 200px;
  }
}
@media (max-width: 600px) {
  .wrap .flySection .textImg .imgContent {
    display: none;
  }
}
.wrap .hexagonSection {
  padding: 60px 10px 180px;
}
.wrap .hexagonSection .honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: 1150px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(30.25px);
}
.wrap .hexagonSection .honeycomb-cell {
  flex: 0 1 220px;
  max-width: 220px;
  height: 121px;
  margin: 57.619047619px 6px 12px;
  position: relative;
  padding: 0.4em;
  text-align: center;
  z-index: 1;
}
@media (max-width: 483px) {
  .wrap .hexagonSection .honeycomb-cell {
    flex: 0 1 165px;
    max-width: 165px;
    height: 90.75px;
    margin: 43.2142857143px 5px 10px;
    padding: 0.2em;
  }
  .wrap .hexagonSection .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 82.5px);
    margin-left: calc(50% - 82.5px);
  }
}
@media (max-width: 374px) {
  .wrap .hexagonSection .honeycomb-cell {
    flex: 0 1 140px;
    max-width: 140px;
    height: 77px;
    margin: 36.6666666667px 3px 6px;
  }
  .wrap .hexagonSection .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 70px);
    margin-left: calc(50% - 70px);
  }
}
.wrap .hexagonSection .honeycomb-cell__title {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrap .hexagonSection .honeycomb-cell__title p {
  color: #fff;
  margin-top: 8px;
  font-size: 16px;
}
@media (max-width: 483px) {
  .wrap .hexagonSection .honeycomb-cell__title h4 {
    font-size: 18px;
  }
  .wrap .hexagonSection .honeycomb-cell__title p {
    margin-top: 8px;
    font-size: 13px;
    letter-spacing: 0;
  }
}
.wrap .hexagonSection .honeycomb-cell__image {
  object-fit: cover;
  object-position: center;
}
.wrap .hexagonSection .honeycomb-cell::after {
  content: "";
}
.wrap .hexagonSection .honeycomb-cell::after, .wrap .hexagonSection .honeycomb-cell__image {
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  z-index: -1;
}
.wrap .hexagonSection .honeycomb-cell::after {
  background: #4E463F;
  opacity: 0.75;
  transition: all 0.3s;
}
.wrap .hexagonSection .honeycomb-cell:hover .honeycomb-cell__title h4, .wrap .hexagonSection .honeycomb-cell:hover .honeycomb-cell__title p {
  color: #4E463F;
}
.wrap .hexagonSection .honeycomb-cell:hover::after {
  background: rgba(255, 255, 255, 0.9);
}
@media (min-width: 464px) and (max-width: 716px) {
  .wrap .hexagonSection .honeycomb-cell:nth-child(3n) {
    margin-right: calc(50% - 110px);
    margin-left: calc(50% - 110px);
  }
  .wrap .hexagonSection .honeycomb__placeholder:nth-child(3n+5) {
    display: block;
  }
}
@media (min-width: 696px) and (max-width: 1150px) {
  .wrap .hexagonSection .honeycomb-cell:nth-child(5n+4) {
    margin-left: calc(50% - 232px);
  }
  .wrap .hexagonSection .honeycomb-cell:nth-child(5n+5) {
    margin-right: calc(50% - 232px);
  }
  .wrap .hexagonSection .honeycomb__placeholder:nth-child(5n), .wrap .hexagonSection .honeycomb__placeholder:nth-child(5n+3) {
    display: block;
  }
}
@media (min-width: 1150px) {
  .wrap .hexagonSection .honeycomb-cell:nth-child(7n+5) {
    margin-left: calc(50% - 342px);
  }
  .wrap .hexagonSection .honeycomb-cell:nth-child(7n+5):nth-last-child(2) {
    margin-right: calc(50% - 342px);
  }
}
@media (min-width: 1150px) {
  .wrap .hexagonSection .honeycomb-cell:nth-child(1) {
    margin-left: -110px;
  }
  .wrap .hexagonSection .honeycomb-cell:nth-child(5) {
    margin-left: 143px;
  }
  .wrap .hexagonSection .honeycomb-cell:nth-child(8n+8) {
    margin-right: 24px;
  }
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 30px 20px;
  width: auto;
  max-width: 1000px;
  margin: 20px auto;
}
@media (max-width: 500px) {
  .white-popup {
    padding: 30px 10px;
  }
}
.white-popup h5 {
  color: #a55a00;
  border-bottom: 1px solid #a55a00;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.white-popup a {
  color: #00a19b;
  font-weight: 500;
  text-decoration: underline;
}
.white-popup p {
  margin: 5px auto;
}
.white-popup ul {
  list-style: disc;
  padding-left: 16px;
}
.white-popup ul li {
  margin: 5px auto;
}
.white-popup ul.decimal {
  list-style: decimal;
}
.white-popup table {
  color: #1c1c1c;
  font-size: 14px;
  margin: 10px 0 20px;
}
.white-popup table tbody tr td:first-child {
  padding-left: 5px;
}
.white-popup table tbody tr td {
  padding: 5px;
  border: 1px solid #767676;
}

.hexgon-popup {
  position: relative;
  background: #FFF;
  padding: 30px 20px;
  width: auto;
  max-width: 1000px;
  margin: 20px auto;
}
@media (max-width: 500px) {
  .hexgon-popup {
    padding: 30px 10px;
  }
}
.hexgon-popup .mt-40 {
  margin-top: 40px;
}
.hexgon-popup h5 {
  color: #a55a00;
  border-bottom: 1px solid #a55a00;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.hexgon-popup table {
  width: 100%;
  color: #1c1c1c;
  font-size: 14px;
  margin: 10px 0 20px;
}
.hexgon-popup table thead {
  background-color: #c7883c;
}
.hexgon-popup table thead td {
  padding: 5px;
  color: #fff;
  border: 1px solid #767676;
}
.hexgon-popup table tbody tr td:first-child {
  padding-left: 5px;
}
.hexgon-popup table tbody tr td {
  padding: 5px;
  border: 1px solid #767676;
}
.hexgon-popup table strong {
  color: #a55a00;
}
.hexgon-popup .effect {
  position: relative;
}
@media (max-width: 1016px) {
  .hexgon-popup .effect::before {
    content: "";
    width: 10px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
    position: absolute;
    right: 0;
    top: 0;
  }
}
.hexgon-popup .tableBox {
  overflow: scroll;
  margin: 10px 0 20px;
}
.hexgon-popup .tableBox table {
  min-width: 960px;
  margin: 0;
}
.hexgon-popup .tableBox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.3);
}
.hexgon-popup .text-center {
  text-align: center;
}
.hexgon-popup .btn {
  border-color: #c7883c;
  color: #c7883c;
  width: 100%;
  max-width: 267px;
  padding: 14px 10px;
}
.hexgon-popup .btn:hover {
  background-color: #c7883c;
  color: #fff;
}

.mCustomScrollBox {
  height: auto;
}

.mCSB_container {
  overflow: visible;
}