@charset "UTF-8";
$sidePadding:80px;
$sidePaddingMobile:5%;
$headerHeight:50px;
$headerHeightMobile:42px;
$deviceWidth1:320px;
$deviceWidth2:480px;
$deviceWidth3:640px;
$deviceWidth4:768px;
$deviceWidth5:992px;
$maxWidth:1280px;